/* your styles go here */

.personalise-image {
  position: relative;
  /*
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;*/
  margin-bottom: 10%;
  height: auto;
  width: 80%; 
}


/*This will align the main image in the center of the page*/
.center_main_image {
  display: flex;
  justify-content: center;
  align-items: center;  
}


/*Need the charm image and the name tag to be 'absolute' so that there is no added border below it*/
/*Having the width as a % keeps it the same when the screen is a differnt size*/

.charm {
  display: flex;
  position: absolute;
  left: 60%;
  bottom: 65%;
  height: auto;
  width: 18%; 
}


.name_tag {
  display: flex;
  position: absolute;
  left: 20%;
  bottom: 30%;
  height: auto;
  width: 55%; 
}


/*making the charm thumbnails pictures*/
.charm_thumbnails img{

  height: auto;
  max-width: 68px;
 
}

.charm_thumbnails {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
   border: 1px solid #e9ecef;
}

.test{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  max-height: 70vh;
  overflow: auto;
  justify-content: center;
}


